$siteWidth:100vw;
$headerWidth:100vw;
$colorRedText: rgba(241, 109, 127, 1);
$colorBlackText:rgba(99, 99, 99, 1);
$backSubHeader:rgba(248, 243, 244, 1);
$colorSite: rgba(241, 109, 127, 1);
$mobileMenuWidth:200px;
$headerWidth:85vw;
$width3:360px;
$colorContent:rgb(229, 229, 229);
$white:rgba(247, 247, 247, 1);
$back_ground_white: rgba(251, 251, 251, 1);
$product_card:1140px;